@font-face {
    font-family: Tahoma;
    src: url("resources/tahoma.ttf");
}

@media (min-width: 1330px) {
    #cs_sens {
        width: 35%;
        display: inline-block;
        margin-bottom: 10px;
        float: left;
    }

    #val_sens {
        width: 35%;
        display: inline-block;
        margin-bottom: 10px;
        float: right;
    }
}

body {
    background-color: #1c1c1c;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    max-width:100%;
    max-height:100%;
}

h1 {
    color: white;
    font-family: Tahoma;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}

input[type="number"] {
    width: 85%;
    height: 30px;
    background-color: #353536;
    border: none;
    color: white;
    border-radius: 25px;
    text-align: center;
    float: none;

    display: block;

    margin-top: 7px;
    margin-bottom: 7px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 5px;
    padding-right: 5px;

    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input[type="button"] {
    width: 125px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    border: none;
    border-radius: 5px;
    background-color: #353536;
    color: white;
}

input[type="button"]:hover {
    background-color: #58bf04;
}

input:focus {
    outline: none;
}

.main_area {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5px;
}